extends views/base.pug
block body
  .container
    h1 snippets.gl
    p Collection of various OpenGL and GLSL snippets
    br
    p Currently in development
    p See #[a(href="https://github.com/vallentin/snippets.gl") snippets.gl] on GitHub
